{% extends 'base.html' %}
{% load static %}

{% block body %}
{% block content %}

<section class="section white lighten-4">
	<div class="container">
		<div class="row">
			<h3 class="center">{% block title%}Login{% endblock %}</h3>
			<div class="col s12 m8">
			    <div class="container">
		          <p>Please contact site admin with your email to create an account for you.<br>
		          You'll be prompted to use your email to login by the admin.</p>
		        {% include 'accounts/login_now.html' %}
		      </div>
		    </div>
			<div class="col s12 m4">
				<ul class="collection with-header">
					<li class="collection-header"><h4>Star Navigation</h4></li>
					<li class="collection-item avatar">
						<img src="{% static 'img/collections/adma1.jpg' %}" alt="" class="circle">
					      <span class="title"><strong><b>News</b></strong></span>
					      <p>latest news and posts from AdMA</p>
						<a class="grey-text text-darken-3 secondary-content" href="{% url 'weblog:entries_index' %}"><i class="material-icons">grade</i></a>
					</li>
					<li class="collection-item avatar">
						<img src="{% static 'img/collections/adma2.png' %}" alt="" class="circle">
					      <span class="title"><strong><b>Other Portals</b></strong></span>
					      <p>Relevant governmental links</p>
						<a class="grey-text text-darken-3 secondary-content" href="{% url 'weblog:links' %}"><i class="material-icons">grade</i></a>
					</li>
					<li class="collection-item avatar">
						<img src="{% static 'img/collections/adma3.png' %}" alt="" class="circle">
						<span class="title"><strong><b>News Category</b></strong></span>
					      <p>Category description for news</p>
						<a class="grey-text text-darken-3 secondary-content" href="{% url 'weblog:categories' %}"><i class="material-icons">grade</i></a>
					</li>
					{% if user.is_staff %}
						<li class="collection-item"><a class="grey-text text-darken-3" href="#">All Contacts</a></li>
					{% endif %}
				</ul>
			</div>
	  </div>
	</div>
</section>
{% endblock %}
{% endblock %}