{% extends 'base.html' %}
{% load static %}

{% block body %}
{% block content %}

<section class="section white lighten-4">
	<div class="container">
		<div class="row">
			{% include 'weblog/sidebar.html' %}
			<div class="col s12 m8">
		    <div class="container">
			<form method="get" action="{% url 'search:search' %}">
				<input type="text" name="q" id="id_q" value="{{ query }}">
				<button type="submit" name="submit" class="btn waves-effect waves-light">
					Search
					<i class="material-icons right">send</i>
				</button>
			</form>
			{% if keyword_results or results %}
				<p>You searched for "{{ query }}".</p>
				{% if keyword_results %}
				<p>Recommended pages:</p>
				<ul>
					{% for page in keyword_results %}
						<li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if results %}
					<p>Search results:</p>
					<ul>
						{% for page in results %}
							<li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endif %}
			{% if query and not keyword_results and not results %}
				<p>No results found.</p>
			{% else %}
				<p>Type a search query into the box above, and press "Search" to search.</p>
			{% endif %}
		</div>
	</div>
</div>
</div>
</section>

{% endblock %}
{% endblock %}