{% block body %}
{% block content %}

{% block title %}Search Results{% endblock %}

	<form method="get" accept="{% url 'search:search' %}">
		<input type="text" name="q" id="id_q" value="{{ query }}">
		<input type="submit" name="submit" value="submit">
	</form>
	{% if keyword_results or results %}
		<p>You searched for "{{ query }}".</p>
		{% if keyword_results %}
		<p>Recommended pages:</p>
		<ul>
			{% for page in keyword_results %}
				<li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if results %}
			<p>Search results:</p>
			<ul>
				{% for page in results %}
					<li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endif %}
	{% if query and not keyword_results and not results %}
		<p>No results found.</p>
	{% else %}
		<p>Type a search query into the box above, and press "Search" to search.</p>
	{% endif %}

{% endblock %}
{% endblock %}