{% extends 'base.html' %}
{% load static %}
{% block body %}
{% block content %}

<section class="section white lighten-4">
	<div class="container">
		<div class="row">
			{% include 'weblog/sidebar.html' %}
		<div class="col s12 m8">
        <div class="container">
			<form method="post" action="{% url 'weblog:new_category' %}">
				{% csrf_token %}
				{{ forms.as_p }}
				<button type="submit" name="submit" class="btn waves-effect waves-light">
					Submit
					<i class="material-icons right">send</i>
				</button>
			</form>
		</div>
	</div>
</section>
{% endblock %}
{% endblock %}