{% extends 'base.html' %}

{% load static %}
{% load i18n static %}

{% block body %}
{% block content %}

<section class="section white lighten-4">
	<div class="container">
		<div class="row">
			{% include 'weblog/sidebar.html' %}
		<div class="col s12 m8">
			<div class="container">
				{% for c in category %}
					<h3 class="title" style="font-size: 25px;">
						<a href="{{ c.get_absolute_url }}" style="color: #00c853; ">
						<b>{{ c.title }}</b></a>
					</h3>
				{% if c.description %}
					<p>{{ c.description|safe }}</p>
				{% else %}
					<p>{{ c.descriptiion|truncatewords_html:"50"|safe }}</p>
				{% endif %}
					<p><a href="{{ c.get_absolute_url }}" class="btn waves-effect green darken-2">More</a></p>
				{% empty %}
					<p class="text">Sorry! No categories entered.</p>
				{% endfor %}

				<!-- pagination items -->

					{% if cat.has_other_pages %}
					<ul class="pagination center">
				    {% if cat.has_previous %}
				      <li class="waves-effect"><a href="?page={{ cat.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
				    {% else %}
				      <li class="disabled green"><span><i class="material-icons">chevron_left</i></span></li>
				    {% endif %}
				    {% for i in cat.paginator.page_range %}
				      {% if cat.number == i %}
				        <li class="active green"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				      {% else %}
				        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
				      {% endif %}
				    {% endfor %}
				    {% if cat.has_next %}
				      <li class="waves-effect"><a href="?page={{ cat.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
				    {% else %}
				      <li class="disabled green"><span><i class="material-icons">chevron_right</i></span></li>
				    {% endif %}
				  </ul>
			    {% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% endblock %}