{% extends 'base.html' %}

{% load static %}
{% load i18n static %}

{% block body %}
{% block content %}

<section class="section white lighten-4">
	<div class="container">
		<div class="row">
			{% include 'weblog/sidebar.html' %}
		<div class="col s12 m8">
	    <div class="container">
			<h1>{{ category.title }}</h1>
			<div class="text">
				<p>{{ category.slug }}</p><br>
				<p>{{ category.description }}</p><br>
			</div>
			<div class="divider"></div>

			{% if user.is_staff %}
				<a href="{% url 'weblog:edit_category' category.slug %}"class="waves-effect waves-light btn yellow darken-2">
					<i class="material-icons left">create</i> 
					Edit
				</a>
				<a href="#modal1" class="waves-effect waves-light btn modal-trigger red">
					<i class="material-icons left">delete</i>
					Delete
				</a>
			{% endif %}
		</div>
	</div>
</section>

<!-- modal dialog box for delete -->
<div class="modal" id="modal1">
	<div class="modal-content">
		<h4>Delete Category</h4>
		<p>Confirm category delete!</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
		<a href="{% url 'weblog:delete_category' category.slug %}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
	</div>
</div>
{% endblock %}
{% endblock %}