{% extends 'base.html' %}

{% load static %}
{% load i18n static %}

{% block body %}
{% block content %}
            

<div class="col s12 m12">
	<div class="white-text center" style="background-color: #43a047;">
		<img class="responsive-img" src="{% static 'img/projects/adma8.jpg' %}" style="width: 1800px; height: 200px;">
		<h3>All Entries</h3>
		<p>Some texts here</p>
	</div>
</div>
<section class="section white lighten-4">
	<div class="container">
		<div class="row">
			<div class="col s12 m4">
				<ul class="collection with-header">
					<li class="collection-header"><h4>Star Navigation</h4></li>
					<li class="collection-item avatar">
						<img src="{% static 'img/collections/adma1.jpg' %}" alt="" class="circle">
					      <span class="title"><strong><b>News</b></strong></span>
					      <p>latest news and posts from AdMA</p>
						<a class="grey-text text-darken-3 secondary-content" href="{% url 'weblog:entries_index' %}"><i class="material-icons">grade</i></a>
					</li>
					<li class="collection-item avatar">
						<img src="{% static 'img/collections/adma2.png' %}" alt="" class="circle">
					      <span class="title"><strong><b>Other Portals</b></strong></span>
					      <p>Relevant governmental links</p>
						<a class="grey-text text-darken-3 secondary-content" href="{% url 'weblog:links' %}"><i class="material-icons">grade</i></a>
					</li>
					<li class="collection-item avatar">
						<img src="{% static 'img/collections/adma3.png' %}" alt="" class="circle">
						<span class="title"><strong><b>News Category</b></strong></span>
					      <p>Category description for news</p>
						<a class="grey-text text-darken-3 secondary-content" href="{% url 'weblog:categories' %}"><i class="material-icons">grade</i></a>
					</li>
					{% if user.is_staff %}
						<li class="collection-item"><a class="grey-text text-darken-3" href="#">All Contacts</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="col s12 m8">
				<div class="container">
					{% for entry in entry_list %}
					<h3 class="title" style="font-size: 25px;">
						<a href="{{ entry.get_absolute_url }}" style="color: #00c853;">
						<b>{{ entry.title }}</b>
					</a>
					</h3>
					{% if entry.cover_pic.url %}
						<a href="{{ entry.get_absolute_url }}">
							<img src="{{ entry.cover_pic.url }}" style="width: 900px; height: 400px;" class="responsive-img">
						</a>
					{% endif %}
						<p>Published on {{ entry.pub_date|date:"F j, Y" }}</p>
					{% if entry.excerpt_html %}
						<p>{{ entry.excerpt_html|safe }}</p>
					{% else %}
						<p>{{ entry.body_html|truncatewords_html:"50"|safe }}</p>
					{% endif %}
						<p><a href="{{ entry.get_absolute_url }}" class="btn waves-effect green darken-2">Read full entry...</a></p>
					{% empty %}
						<p class="text">Sorry! No article posted.</p>
					{% endfor %}

					<!-- pagination items -->

					{% if entry.has_other_pages %}
					<ul class="pagination center">
				    {% if entry.has_previous %}
				      <li class="waves-effect"><a href="?page={{ entry.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
				    {% else %}
				      <li class="disabled green"><span><i class="material-icons">chevron_left</i></span></li>
				    {% endif %}
				    {% for i in entry.paginator.page_range %}
				      {% if entry.number == i %}
				        <li class="active green"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				      {% else %}
				        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
				      {% endif %}
				    {% endfor %}
				    {% if entry.has_next %}
				      <li class="waves-effect"><a href="?page={{ entry.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
				    {% else %}
				      <li class="disabled green"><span><i class="material-icons">chevron_right</i></span></li>
				    {% endif %}
				  </ul>
			    {% endif %}
				</div>
			</div>
		</div>
	</div>
	
 </section>
 
{% endblock %}
{% endblock %}