{% extends 'base.html' %}

{% load static %}
{% load i18n static %}

{% block body %}
{% block content %}
            
<section class="section white lighten-4">
	<div class="container">
		<div class="row">
			{% include 'weblog/sidebar.html' %}
			<div class="col s12 m8">
				<div class="container">
					{% for entry in entry_list %}
					<h3 class="title" style="font-size: 25px;">
						<a href="{{ entry.get_absolute_url }}" style="color: #00c853;">
						<b>{{ entry.title }}</b>
					</a>
					</h3>
					{% if entry.cover_pic.url %}
						<a href="{{ entry.get_absolute_url }}">
							<img src="{{ entry.cover_pic.url }}" style="width: 900px; height: 400px;" class="responsive-img">
						</a>
					{% endif %}
						<p>Published on {{ entry.pub_date|date:"F j, Y" }}</p>
					{% if entry.excerpt_html %}
						<p>{{ entry.excerpt_html|safe }}</p>
					{% else %}
						<p>{{ entry.body_html|truncatewords_html:"50"|safe }}</p>
					{% endif %}
						<p><a href="{{ entry.get_absolute_url }}" class="btn waves-effect green darken-2">Read full entry...</a></p>
					{% empty %}
						<p class="text">Sorry! No article posted.</p>
					{% endfor %}

					<!-- pagination items -->

					{% if entry.has_other_pages %}
					<ul class="pagination center">
				    {% if entry.has_previous %}
				      <li class="waves-effect"><a href="?page={{ entry.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
				    {% else %}
				      <li class="disabled green"><span><i class="material-icons">chevron_left</i></span></li>
				    {% endif %}
				    {% for i in entry.paginator.page_range %}
				      {% if entry.number == i %}
				        <li class="active green"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				      {% else %}
				        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
				      {% endif %}
				    {% endfor %}
				    {% if entry.has_next %}
				      <li class="waves-effect"><a href="?page={{ entry.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
				    {% else %}
				      <li class="disabled green"><span><i class="material-icons">chevron_right</i></span></li>
				    {% endif %}
				  </ul>
			    {% endif %}
				</div>
			</div>
		</div>
	</div>
	
 </section>
 
{% endblock %}
{% endblock %}