{% extends 'base.html' %}

{% load static %}
{% load i18n static %}

{% block body %}
{% block content %}

<section class="section white lighten-4">
	<div class="container">
		<div class="row">
			{% include 'weblog/sidebar.html' %}
			<div class="col s12 m8">
					<div class="container">
						{% for link in link_list %}
							<h3 class="title" style="font-size: 25px;">
								<a href="{{ link.get_absolute_url }}"  style="color: #00c853; ">
									<b>{{ link.title }}</b></a>
							</h2>
						<p>Published on {{ link.pub_date|date:"F j, Y" }}</p>
						{% if link.via_url %}
							<p>{{ link.via_name|safe }}</p>
							<p>{{ link.via_url}}</p>
						{% else %}
							<p>{{ link.description_html|truncatewords_html:"50"|safe }}</p>
						{% endif %}
							<p><a href="{{ link.get_absolute_url }}" class="btn waves-effect green darken-2">Read full entry</a></p>
						{% empty %}
							<p class="text">Sorry! No links available.</p>
						{% endfor %}

						<!-- pagination items -->

					{% if link.has_other_pages %}
					<ul class="pagination center">
				    {% if link.has_previous %}
				      <li class="waves-effect"><a href="?page={{ link.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
				    {% else %}
				      <li class="disabled green"><span><i class="material-icons">chevron_left</i></span></li>
				    {% endif %}
				    {% for i in link.paginator.page_range %}
				      {% if link.number == i %}
				        <li class="active green"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				      {% else %}
				        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
				      {% endif %}
				    {% endfor %}
				    {% if link.has_next %}
				      <li class="waves-effect"><a href="?page={{ link.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
				    {% else %}
				      <li class="disabled green"><span><i class="material-icons">chevron_right</i></span></li>
				    {% endif %}
				  </ul>
			    {% endif %}
					</div>
				</div>
			</div>
</section>
    
{% endblock %}
{% endblock %}