{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>

	<title>AdMA</title>

	 <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static 'img/adentan.png' %}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Adentan Municipal Assembly">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/adentan.png' %}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{% static 'img/adentan.png' %}">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="{% static 'img/adentan.png' %}">


	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection">
		<style media="screen">
		#global-nav {
		  height: 150px;
		  width: 100%;
		  line-height: 150px;
		    -webkit-transition: height .5s, line-height .5s; /* Safari */
		    transition: height .5s, line-height .5s;
		}

		.site-title {
		  display: inline-block;
		  -webkit-transition: all .5s;
		    transition: all .5s;
		}

		.scrolled-nav .site-title img {
		  width: 90px;
			height: 60px;
		}
		ul.nav-list {
		  list-style: none;
		}

		.nav-list li {
		  list-style: none;
		  display: inline-block;
		  padding-left: 20px;
		}
		.scrolled-nav {
		  height: 60px !important;
		  line-height: 60px !important;
		}

		.counter {
		  width: 20px;
		  height: 20px;
		  background: black;
		  color: #fff;
		  position: fixed;
		  top: 120px;
		  right: 0;
		}


		</style>

</head>
<body id="home" class="scrollspy">
			<div class="navbar-fixed">
			 	<nav role='navigation' class="green darken-2" id="global-nav">
				    <div class="nav-wrapper">
				      <a href="/" class="brand-logo site-title"><img id="logo-container" src="{% static 'img/adentan.png' %}" width="180px" height="140px"></a>
				      <a href="#" data-target="menu-responsive" class="sidenav-trigger">
				      	<i class="material-icons">menu</i>
				      </a>
		      <ul class="right hide-on-med-and-down nav-list">
		      	<li><a href="/">Home</a></li>
		        <li><a href="{% url 'dashboard:assembly' %}">The Assembly</a></li>
				<!-- dropdown trigger -->
		        <li><a href="#" class="dropdown-trigger" data-target="dropdown1">Zonal Councils</a></li>
		        <!-- zonal council dropdown -->
		        <ul id="dropdown1" class="dropdown-content">
						  <li><a href="{% url 'dashboard:koose' %}">Koose Zonal</a></li>
						  <li><a href="{% url 'dashboard:sutsrunaa' %}">Sutsrunaa Zonal</a></li>
						  <li class="divider"></li>
						  <li><a href="{% url 'dashboard:gbentanaa' %}">Gbentanaa Zonal</a></li>
						  <li><a href="{% url 'dashboard:nii' %}">Nii Ashalley Zonal</a></li>
						</ul>
						<!-- end dropdown -->

		        {% if user.is_staff %}
		        <li><a href="{% url 'dashboard:projects' %}">Media</a></li>
		        {% endif %}
		        <li><a href="{% url 'weblog:entries_index' %}">The News</a></li>

		      </ul>
		    </div>
	  </nav>
	</div>
<!-- </div>
</div> -->

	<!-- sidenavigation menu -->
	<ul class="sidenav" id="menu-responsive">
		<li class="collection-header center-align">
			<div class="user-view">
		      <div class="background">
		        <img src="{% static 'img/office.jpg' %}" class="responsive-img" style="width: 100%; height: 100%;">
		     </div>
          <a href="/"><img class="circle" src="{% static 'img/logo.jpg' %}"></a><br>
          {% if user.is_authenticated %}
              <a href="#!name"><span class="name">{{ user.username }}</span></a>
              <a href="#!email"><span class="email">{{ user.email }}</span></a>
          {% endif %}
        </div></li>
		<li><a href="{% url 'dashboard:assembly' %}"><i class="material-icons right">account_balance</i>The Assembly</a></li>

        <!-- dropdown trigger -->
        <li><a href="#" class="dropdown-trigger" data-target="dropdown1"><i class="material-icons right">arrow_drop_down</i>Zonal Councils</a></li>
        <!-- zonal council dropdown -->
        <ul id="dropdown1" class="dropdown-content">
		  <li><a href="{% url 'dashboard:koose' %}">Koose Zonal</a></li>
		  <li><a href="{% url 'dashboard:sutsrunaa' %}">Sutsrunaa Zonal</a></li>
		  <li class="divider"></li>
		  <li><a href="{% url 'dashboard:gbentanaa' %}">Gbentanaa Zonal</a></li>
		  <li><a href="{% url 'dashboard:nii' %}">Nii Ashalley Zonal</a></li>
		</ul>
		<!-- end dropdown -->

       {% if user.is_staff %}
        <li><a href="{% url 'dashboard:projects' %}"><i class="material-icons right">photo_camera</i>Media</a></li>
        {% endif %}
        <li><a href="{% url 'weblog:entries_index' %}"><i class="material-icons right">public</i>News</a></li>
        {% if user.is_authenticated %}
	    	<li><a class="profile-data-name"><i class="material-icons right">person</i>{{ user.username }}</a></li>
	    	<li><a href="{% url 'accounts:user_logout' %}"><i class="material-icons right">lock_outline</i>Logout</a></li>
	    {% else %}
	    	<li><a href="{% url 'accounts:login_now' %}"><i class="material-icons right">lock_open</i>Login</a></li>
	    {% endif %}
	</ul>

	<div>
	{% block body %}
		{% block content %}

		{% endblock %}
	{% endblock %}
	</div>
	<!-- floating action buttons -->
	{% if user.is_staff %}
		<div class="fixed-action-btn">
			<a class="btn-floating btn-large red">
				<i class="large material-icons">create</i>
			</a>
			<ul>
				<li><a href="{% url 'weblog:new_entry' %}" class="btn-floating red"><i class="material-icons">publish</i></a></li>
				<li><a href="{% url 'weblog:new_link' %}" class="btn-floating yellow darken-2"><i class="material-icons">link</i></a></li>
				<li><a href="{% url 'weblog:new_category' %}" class="btn-floating green"><i class="material-icons">create_new_folder</i></a></li>
			</ul>
		</div>
	{% endif %}
	</div>

	<!-- messages -->
	{% if messages %}
		<div class="note success">
			<div class="note-icon"><i class="material-icons">lock_open</i></div>
			{% for message in messages %}
				<strong{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
			{% endfor %}
			<div class="close"><i class="material-icons">lock_ountline</i></div>
		</div>
	{% endif %}
	<!-- end messages -->
	<footer class="section page-footer green darken-2">
		<div class="container">
			<div class="row">
				<div class="col m6 l6 s12">
					<h5 class="white-text">Get Social</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="https://www.facebook.com/AdentanMunicipalAssembly/">Facebook</a></li>
						<li><a class="grey-text text-lighten-3" href="https://twitter.com/AdMAOfficial1">Twitter</a></li>
						<li><a class="grey-text text-lighten-3" href="https://www.instagram.com/explore/tags/adentanmunicipalassembly/?hl=en">Instagram</a></li>
						<li><a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UCxYz7wOKhK9WDbUxAeqMy8w/featured">Youtube</a></li>
					</ul>
				</div>
				<div class="col m6 l6 s12">
					<h5 class="white-text">Pages</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="{% url 'weblog:entries_index' %}">News</a></li>
						<li><a class="grey-text text-lighten-3" href="{% url 'weblog:links' %}">Links</a></li>
						<li><a class="grey-text text-lighten-3" href="{% url 'weblog:categories' %}">Categories</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				&copy; {% now "Y" %}
				<a href="/" class="grey-text text-lighten-4 right">Adentan Municipal Assembly</a>
			</div>
		</div>
	</footer>
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="{% static 'js/sidenav.js' %}"></script>
	<script type="text/javascript">
		//Slider
	  	const slider = document.querySelector('.slider');
	  	M.Slider.init(slider,{
	    	indicators:false,
	    	height: 500,
	   		transition: 500,
	    	interval: 6000
	  	});

	  	// ScrollSpy
    	const ss = document.querySelectorAll('.scrollspy');
    	M.ScrollSpy.init(ss, {});


		$(document).ready(function(){
			$(".note .close").on("click", function(){
				$(".note").hide();
			})
		})

		$(document).ready(function(){
		  var scrollTop = 0;
		  $(window).scroll(function(){
		    scrollTop = $(window).scrollTop();
		     $('.counter').html(scrollTop);

		    if (scrollTop >= 100) {
		      $('#global-nav').addClass('scrolled-nav');
		    } else if (scrollTop < 100) {
		      $('#global-nav').removeClass('scrolled-nav');
		    }

		  });

		});
	</script>
</body>
</html>
